@import url('https://fonts.googleapis.com/css?family=Vollkorn&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

html {
  background: #fff;
}

body {
  font-family: 'Vollkorn';
}

#flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

#flex-container div {
  max-width: 500px;
}

p {
  color: black;
  font-weight: 100;
  font-size: 1.3rem;
  line-height: 2.5rem;
  text-indent: 40px;
  font-weight: 100;
}


#resume {
  text-align: center;
  text-indent: 0 !important;
}

#contact-header {
  color: #33384c;
  font-size: 1rem;
  text-indent: 80px;
}



a {
  text-decoration: none;
  font-family: 'Vollkorn';
  font-weight: 100;
  font-size: 1.3rem;
  color: black;
}