@import url('https://fonts.googleapis.com/css?family=Vollkorn&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

html {
  background: #fff;
}

body {
  font-family: 'Vollkorn';
}

#flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

#flex-container div {
  max-width: 500px;
  padding-top: 40vh;
  padding-bottom: 100px;
  padding-right: 10px;
  padding-left: 10px;
}

p {
  color: black;
  font-weight: 100;
  font-size: 1.3rem;
  line-height: 2.5rem;
  text-indent: 40px;
  font-weight: 100;
}


#resume {
  border-bottom: 1px solid #d3d3d3;
  box-shadow: 0px -4px 0px #d3d3d3 inset;
}

#resume:hover {
  border-bottom: 1px solid #000000;
  box-shadow: 0px -4px 0px #000000 inset;
  transition: border-color 0.3s ease;
}

#contact-header {
  color: #33384c;
  font-size: 1.1rem;
  text-indent: 80px;
  margin-top: 30px;
}



a {
  text-decoration: none;
  font-family: 'Vollkorn';
  font-weight: 100;
  font-size: 1.3rem;
  color: black;
}

#BB {
  border-bottom: 1px solid #5abbd6;
  box-shadow: 0px -4px 0px #5abbd6 inset;
}

#BTNX {
  border-bottom: 1px solid #91c549;
  box-shadow: 0px -4px 0px #91c549 inset;
}



#resume-text {
  text-align: center;
  text-indent: 0 !important;
  margin-top: 70px;

}

#wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
  text-indent: 0 !important;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0.0deg)
  }

  10% {
    transform: rotate(-10.0deg)
  }

  20% {
    transform: rotate(12.0deg)
  }

  30% {
    transform: rotate(-10.0deg)
  }

  40% {
    transform: rotate(9.0deg)
  }

  50% {
    transform: rotate(0.0deg)
  }

  100% {
    transform: rotate(0.0deg)
  }
}
