@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

html {
  background: #fff;
}


#flex-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin-top: auto;
}

#flex-container div {
  max-width: 500px;
  padding-top: 23vh;
  padding-bottom: 100px;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: auto;
}

#header {
  font-family: inter, Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 30px;
}

#header2 {
  font-family: inter, Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  margin-top: 0px;
}

p {
  color: rgb(55, 53, 47);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: auto;
  font-size: 17px;
  line-height: 1.5;
}

#myself {
  border-radius: 3%;
  display: block;
  width: 30%;
}


#wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0.0deg)
  }

  10% {
    transform: rotate(-10.0deg)
  }

  20% {
    transform: rotate(12.0deg)
  }

  30% {
    transform: rotate(-10.0deg)
  }

  40% {
    transform: rotate(9.0deg)
  }

  50% {
    transform: rotate(0.0deg)
  }

  100% {
    transform: rotate(0.0deg)
  }
}

#code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: normal;
  background: rgba(135, 131, 120, 0.15);
  color: #EB5757;
  border-radius: 3px;
  font-size: 85%;
  padding-right: 2px;
  padding-left: 2px;
}

#instagram-button {
  text-decoration: none;
  border-bottom: 0.05em solid;
  border-color: #DD2A7B;
  opacity: 0.7;
  color: #DD2A7B;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: auto;
  font-size: 17px;
  line-height: 1.5;
  font-weight: 600;

}

#twitter-button {
  text-decoration: none;
  border-bottom: 0.05em solid;
  border-color: #08a0e9;
  opacity: 0.7;
  color: #08a0e9;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: auto;
  font-size: 17px;
  line-height: 1.5;
  font-weight: 600;

}

#linkedin-button {
  text-decoration: none;
  border-bottom: 0.05em solid;
  border-color: #0077B5;
  opacity: 0.7;
  color: #0077B5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: auto;
  font-size: 17px;
  line-height: 1.5;
  font-weight: 600;
}

#github-button {
  text-decoration: none;
  border-bottom: 0.05em solid;
  border-color: black;
  opacity: 0.7;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: auto;
  font-size: 17px;
  line-height: 1.5;
  font-weight: 600;

}

#plain {
  text-decoration: none;
  color: rgb(55, 53, 47);
  border-bottom: 0.05em solid;
  border-color: rgba(55, 53, 47, 0.4);
  opacity: 0.7;
  color: rgb(55, 53, 47);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: auto;
  font-size: 17px;
  line-height: 1.5;
}

#links {
  display: flex;
  padding-top: 0 !important;
  padding-left: 0 !important;
  margin-top: -250px;
}