#blob{
  position: absolute;
  padding: 50px;
}
.stats{
  position: fixed;
  right: 0;
  top: 0;
  width: 200px;
}
.intro {
  text-align: center;
}

.seperator {
  width: 50px;
    height: 1px;
    background: black;
    margin-left: 50%;
}